<h3><%= @party_animal.party_name %></h3>

<div class="tag-container">
  <% @party_animal.category.each do |tag| %>
    <div class="tag"><%= tag %></div>
  <% end %>
</div>

<p><%= @party_animal.location %></p>
<%= cl_image_tag(@party_animal.image) %>
<p>Dates available:</p>
<p><%= @party_animal.available_dates %></p>

<% unless current_user.party_animal.id == @party_animal.id %>
<%= link_to "Invite #{@party_animal.party_name} to party", new_party_animal_booking_path(@party_animal), class: "btn-treehouse" %>
<% end %>

<%= link_to "Homepage", root_path %>

<!-- <input  name="date" type="text" class="datepicker"> -->

<!-- <input  name="date" type="text" class="datepicker"> -->
