<div class='container'>
  <div class='row'>
    <h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
    <div class="col-xs-12">
    <h4><u>Upcoming bookings:</u></h4>
      <ol>
        <h4><% @bookings.each do |booking| %>
          <li>You have a booking with <strong><%= booking.party_animal.party_name %></strong> on: <strong><%= booking.date.strftime('%A, %b %d') %></strong> <%= link_to "Cancel this booking", booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
          </li>
        <% end %>
      </ol>
    </h4>
    </div>
  </div>
  <%= link_to 'Homepage', root_path, class: "btn btn-info"  %>
  <%= link_to 'PartyAnimal', party_animals_path, class: "btn btn-info"  %>
</div>





