<div class='container' id="container">
  <div class='row'>
    <div class="col-xs-12">
    <h1>Welcome, <%= current_user.first_name %> <%= current_user.last_name %>.</h1>
    <%= cl_image_tag current_user.image , height: 300, width: 400, crop: :fill %>
    <h5> These are the invitations you have sent :</h5>
      <ol>
        <h4>
          <% @bookings.each do |booking| %>
          <li>
            You have a booking with <strong><%= booking.party_animal.party_name %></strong> on: <strong><%= booking.date.strftime('%A, %b %d') %></strong> <%= link_to "Cancel this booking", booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
            <% if booking.confirmed == nil %>
                <p>Status: <em class="pending">Pending</em></p>
              <% elsif booking.confirmed? == true %>
                <p>Status: <em class="accepted">Accepted</em></p>
              <% else %>
                <p>Status:<em class="declined">Declined</em></p>
            <% end %>
          </li>
          <% end %>
        </h4>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <% unless current_user.party_animal %>
          <div class="booking-div">
              <h1>Become a Party Animal</h1>
                <%= simple_form_for([current_user, @party_animal]) do |f| %>
                  <%= f.input :party_name, class: "form-control" %>
                  <%= f.input :location %>
                  <%= f.input :available_dates %>
                  <%= f.input :image %>
                  <%= f.input :image_cache, as: :hidden %>
                  <%= f.input :description %>
                  <%= f.button :submit, class: "btn btn-success" %>
                  <% end %>
            </div>
        <% end %>

        <% if current_user.party_animal %>
          <%#= current_user.party_animal.party_name %>
          <%#= cl_image_tag current_user.party_animal.image , height: 300, width: 400, crop: :fill %>
          <%#= current_user.party_animal.location %>
          <%#= current_user.party_animal.available_dates%>
          <%#= current_user.party_animal.photo %>
          <%= render 'shared/blog-card',  pa: current_user.party_animal%>
         <div class="center-div">
            <h5>These are the invitations from the people who would love to party with you:</h5>
                   <% end %>
               </div>
             </div>

             <ol>
               <h4>
                 <% @invitations.each do |invitation| %>
                   <li>
           You have an invitation from <strong><%= invitation.user.first_name + " " + invitation.user.last_name %></strong> on: <strong><%= invitation.date.strftime('%A, %b %d') %></strong>
           <% if invitation.confirmed %>
             <p>Accepted</p>
           <% else %>
             <%= link_to "Accept this invitation", user_booking_path( current_user ,invitation), data: { confirm: 'Are you sure?', }, class: "btn btn-success", method: :patch %>
           <% end %>

           <% if invitation.confirmed%>
             <p>Declined</p>
           <% else %>
             <%= link_to "Decline this invitation", user_booking_path( current_user ,invitation), data: { confirm: 'Are you sure?', }, class: "btn btn-danger", method: :patch %>
           <% end %>
           </li>
                   <% end %>
               </h4>
             </ol>

             <div class="party-animal-btn">
               <%= link_to 'PartyAnimals', party_animals_path, class: "btn btn-primary"  %>
             </div>
         </div>
</div>








